/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100%;
  min-height: 200vh;
  font-family: 'Lato', sans-serif;
  background-color: #fefcf5;
}

button {
  cursor: pointer;
}

.wrapper {
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.wrapper div.homeIntro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #faf5e4;
}

.home {
  width: 100%;
  height: 100vh;
  background-image: url('../img/homeBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.home .backgroundColor {
  width: 100%;
  height: 100%;
  background-color: rgba(138, 198, 209, 0.75);
}

.homeIntro div {
  padding: 12px 0;
  border-top: 2px solid #faf5e4;
  border-bottom: 2px solid #faf5e4;
}

.homeIntro h1,
.homeIntro h2,
.homeIntro h3 {
  text-align: center;
  font-weight: 400;
}

.homeIntro h1 {
  text-transform: uppercase;
  font-size: 26px;
}

.homeIntro h2 {
  font-size: 14px;
  margin-top: 2px;
}

.homeIntro h3 {
  font-size: 18px;
  margin-top: 10px;
}

.homeIntro .btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
}

.scrollOnly {
  position: relative;
  border: 1px solid #faf5e4;
  color: #faf5e4;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  border-radius: 20px;
  padding: 10px 30px;
  margin-top: 10px;
  background-color: transparent;
  overflow: hidden;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.scrollOnly::after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  border: 1px solid #faf5e4;
  background-color: #faf5e4;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.scrollOnly:hover {
  color: #8ac6d1;
}

.scrollOnly:hover::after {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: -1;
}

.mobileNavBtn {
  position: fixed;
  top: 30px;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #faf5e4;
  background-color: #8ac6d1;
  z-index: 1;
  cursor: pointer;
}

.mobileNavBtn div {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 65%;
  height: 1px;
  background-color: #faf5e4;
  -webkit-transition: 0.3s ease transform;
  -o-transition: 0.3s ease transform;
  transition: 0.3s ease transform;
}

.mobileNavBtn div:nth-of-type(1) {
  -webkit-transform: translate(-50%, -600%);
  -ms-transform: translate(-50%, -600%);
  transform: translate(-50%, -600%);
}

.mobileNavBtn div:nth-of-type(2) {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.mobileNavBtn div:nth-of-type(3) {
  -webkit-transform: translate(-50%, 600%);
  -ms-transform: translate(-50%, 600%);
  transform: translate(-50%, 600%);
}

.mobileNavBtn.active > div:nth-of-type(1) {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.mobileNavBtn.active > div:nth-of-type(2) {
  display: none;
}

.mobileNavBtn.active > div:nth-of-type(3) {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

nav.desktopNav {
  display: none;
  -ms-grid-columns: (1fr);
  grid-template-columns: repeat(2, 1fr);
  position: absolute;
  top: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 900px;
  z-index: 1;
}

nav.desktopNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  list-style: none;
}

.scrollDesktop {
  position: relative;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  background-color: transparent;
  border: none;
  color: #faf5e4;
  text-transform: uppercase;
  overflow: hidden;
}

.scrollDesktop::after {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #faf5e4;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-155%);
  -ms-transform: translateX(-155%);
  transform: translateX(-155%);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.scrollDesktop:hover::after {
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

nav.mobileNav {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 70px 1fr;
  grid-template-rows: 70px 1fr;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  width: 100%;
  height: 100vh;
  background-color: #faf5e4;
  z-index: 1;
  -webkit-transition: 0.5s ease transform;
  -o-transition: 0.5s ease transform;
  transition: 0.5s ease transform;
}

nav.mobileNav ul {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  list-style: none;
}

nav.mobileNav button {
  border: 2px solid #8ac6d1;
  color: #8ac6d1;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  border-radius: 20px;
  padding: 10px 30px;
  margin-top: 10px;
  background-color: #faf5e4;
}

section.about .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 70px 20px 300px 20px 1fr;
  grid-template-rows: 70px 300px 1fr;
  grid-gap: 20px;
}

section.about .wrapper h2,
section.offer .wrapper h2,
section.price .backgroundColor .wrapper h2,
section.contact .wrapper h2 {
  font-size: 32px;
  text-transform: uppercase;
  line-height: 70px;
  color: #8ac6d1;
}

section.about .wrapper img {
  width: 100%;
}

section.about .wrapper div {
  position: relative;
  overflow: hidden;
}

section.about .wrapper div img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

section.about .wrapper p {
  font-size: 14px;
  line-height: 21px;
  text-align: justify;
  color: #8ac6d1;
}

section.offer .wrapper {
  padding-bottom: 20px;
}

.boxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.boxContainer .box {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60px 1fr;
  grid-template-rows: 60px 1fr;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 10px;
  -webkit-transition: 0.8s ease;
  -o-transition: 0.8s ease;
  transition: 0.8s ease;
  -webkit-box-shadow: 0 0 30px -15px #777777;
  box-shadow: 0 0 30px -15px #777777;
}

section.price .backgroundColor .wrapper .boxContainer .box:hover {
  background-color: #faf5e4;
}

section.price .backgroundColor .wrapper .boxContainer .box:hover > ul,
section.price .backgroundColor .wrapper .boxContainer .box:hover > h3 {
  color: #8ac6d1;
}

.boxContainer .box p {
  width: 80%;
  padding: 0 10px 20px 10px;
  margin: 0 auto;
  font-size: 16px;
  color: #8ac6d1;
  text-align: justify;
  line-height: 22px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

.boxContainer .box:hover {
  background-color: #8ac6d1;
}

.boxContainer .box:hover > h3,
.boxContainer .box:hover > p {
  color: #faf5e4;
}

section.price .wrapper .boxContainer .box:nth-last-of-type(1) {
  margin-bottom: 30px;
}

.boxContainer .box h3 {
  line-height: 60px;
  font-size: 20px;
  color: #8ac6d1;
  text-transform: uppercase;
  text-align: center;
}

section.offer .wrapper .boxContainer .box .wrapper p {
  text-align: justify;
  color: #8ac6d1;
}

section.contactInfo {
  background-color: #8ac6d1;
  width: 100%;
  height: 300px;
  padding: 30px 0;
}

section.contactInfo .wrapper {
  width: 55%;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
}

section.contactInfo .wrapper .box,
section.contact .wrapper div .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #faf5e4;
}

section.contactInfo .wrapper .box .contactTitle,
section.contact .wrapper div .box .contactTitle {
  display: block;
  font-size: 24px;
}

section.contactInfo .wrapper .box .contactDate,
section.contact .wrapper div .box .contactDate {
  display: block;
  font-weight: lighter;
}

section.contactInfo .wrapper .box .contactDate a {
  color: #faf5e4;
  text-decoration: none;
}

section.price {
  background-image: url('../img/priceBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

section.price .backgroundColor {
  width: 100%;
  height: 100%;
  background-color: rgba(254, 252, 245, 0.8);
}

section.price .backgroundColor .wrapper ul {
  list-style: none;
  color: #faf5e4;
  padding-bottom: 20px;
}

section.price .backgroundColor .wrapper ul li {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

section.price .backgroundColor .wrapper .boxContainer .box {
  background-color: #8ac6d1;
}

section.price .backgroundColor .wrapper .boxContainer .box h3,
section.price .backgroundColor .wrapper .boxContainer .box p {
  color: #faf5e4;
}

section.contact .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 70px 20px 450px 20px 1fr;
  grid-template-rows: 70px 450px 1fr;
  grid-gap: 20px;
  height: 100%;
  min-height: 200px;
}

form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

form label {
  font-family: 'Lato', sans-serif;
  color: #8ac6d1;
  font-size: 18px;
  font-weight: 300;
}

form input,
form textarea {
  border: none;
  color: #8ac6d1;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  padding: 5px;
  -webkit-box-shadow: 0 0 30px -12px #777777;
  box-shadow: 0 0 30px -12px #777777;
}

form input {
  /* border: none; */
  height: 20px;
  margin-bottom: 8px;
  -webkit-box-shadow: 0 0 30px -12px #777777;
  box-shadow: 0 0 30px -12px #777777;
}

form textarea {
  height: 200px;
  resize: none;
  -webkit-box-shadow: 0 0 30px -22px #777777;
  box-shadow: 0 0 30px -22px #777777;
}

form button {
  width: 120px;
  height: 35px;
  background-color: #8ac6d1;
  font-size: 16px;
  color: #faf5e4;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
}

section.contact .wrapper div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

section.contact .wrapper div iframe {
  width: 100%;
  height: 250px;
  border: none;
}

section.contact .wrapper div .box,
section.contact .wrapper div .box .contactTitle,
section.contact .wrapper div .box .contactDate {
  color: #8ac6d1;
}

section.contact .wrapper div .box .contactDate a {
  text-decoration: none;
  color: #8ac6d1;
  font-family: 'Lato', sans-serif;
}

section.contact .wrapper div .box {
  margin-top: 20px;
}

section.contact .wrapper div .box:nth-last-of-type(1) {
  margin-bottom: 20px;
}

footer {
  width: 100%;
  height: 14px;
}

footer p {
  font-size: 10px;
  font-family: 'Lato', sans-serif;
  color: #8ac6d1;
  text-align: center;
  font-weight: 300;
}

@media (min-width: 440px) {
  section.about .wrapper {
    -ms-grid-rows: 70px 20px 400px 20px 1fr;
    grid-template-rows: 70px 400px 1fr;
  }
}

@media (min-width: 650px) {
  section.about .wrapper {
    -ms-grid-rows: 70px 20px 550px 20px 1fr;
    grid-template-rows: 70px 550px 1fr;
  }

  section.about .wrapper div {
    width: 300px;
    position: relative;
    overflow: hidden;
  }

  .homeIntro .btnContainer {
    width: 430px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 auto;
  }

  section.about .wrapper div {
    width: 100%;
    height: 100%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

@media (min-width: 770px) {
  section.about .wrapper {
    width: 80%;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 70px 20px 300px 20px 1fr;
    grid-template-rows: 70px 300px 1fr;
  }
  section.about .wrapper > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  section.about .wrapper > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  section.about .wrapper > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  section.about .wrapper > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  section.about .wrapper > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  section.about .wrapper > *:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }

  section.about .wrapper p {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    margin-top: 0;
  }

  .wrapper {
    width: 80%;
  }

  section.price .wrapper .boxContainer .box {
    margin-bottom: 30px;
  }

  .boxContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 auto;
  }

  .boxContainer .box h3 {
    font-size: 16px;
  }

  .boxContainer .box {
    width: 32%;
  }

  section.contactInfo {
    height: 150px;
  }

  section.contactInfo .wrapper {
    width: 80%;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 800px) {
  .homeIntro div {
    width: 740px;
    margin: 0 auto;
  }
}

@media (min-width: 950px) {
  section.about .wrapper {
    -ms-grid-rows: 70px 20px 350px 20px 1fr;
    grid-template-rows: 70px 350px 1fr;
  }
}

@media (min-width: 1024px) {
  .home {
    background-position: center;
  }

  nav.mobileNav {
    display: none;
  }

  nav.desktopNav {
    display: -ms-grid;
    display: grid;
  }

  .mobileNavBtn {
    display: none;
  }

  .wrapper,
  section.contactInfo .wrapper,
  section.about .wrapper {
    width: 900px;
  }

  section.about .wrapper {
    -ms-grid-rows: 70px 20px 420px 20px 1fr;
    grid-template-rows: 70px 420px 1fr;
  }

  section.about .wrapper p,
  section.offer .wrapper .boxContainer .box .wrapper p {
    font-size: 16px;
    line-height: 30px;
  }

  .boxContainer .box h3 {
    font-size: 18px;
  }

  section.price .backgroundColor .wrapper ul li {
    font-size: 16px;
  }

  .wrapper .boxContainer .box .wrapper p {
    font-weight: 300;
  }

  section.contactInfo .wrapper .box {
    width: 50%;
    margin: 0 auto;
  }

  section.contactInfo {
    height: 100px;
  }

  section.contact .wrapper {
    -ms-grid-rows: 70px 20px 450px;
    grid-template-rows: 70px 450px;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;
  }

  section.contact .wrapper > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  section.contact .wrapper > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  section.contact .wrapper > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  section.contact .wrapper > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }

  form {
    width: 90%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    margin: 0 auto;
  }

  form::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 2px;
    height: calc(100% - 70px);
    background-color: #8ac6d1;
  }

  section.contact .wrapper div {
    width: 90%;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    margin: 0 auto;
  }
}
